
  <section class="py-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
          <!-- About-->
          <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
            <div class="card-body p-lg-5">
              <h2 class="h3 mb-4">Personal</h2>
              <div class="row col-12">
                <div class="col-4">
                    <img height="150px" width="auto" class="rounded-circle" src="https://suvidha.eci.gov.in/uploads1/candprofile/E10/2021/AC/s03/SHAMI-2021-20210313124408.jpg" alt="...">
                </div>
                <div class="col-8">
                  <div class="media-body ml-2">
                    <h6 class="mb-0">Name</h6>
                    <p class="small text-muted mb-0 font-weight-bold">candidate name</p>
                  </div>
                  <div class="media-body ml-2">
                    <h6 class="mb-0">Age</h6>
                    <p class="small text-muted mb-0 font-weight-bold">45</p>
                  </div>
                  <div class="media-body ml-2">
                    <h6 class="mb-0">Sex</h6>
                    <p class="small text-muted mb-0 font-weight-bold">Male</p>
                  </div>
                  <div class="media-body ml-2">
                    <h6 class="mb-0">Party</h6>
                    <p class="small text-muted mb-0 font-weight-bold">Peoples party</p>
                  </div>
                  <div class="media-body ml-2">
                    <h6 class="mb-0">Email</h6>
                    <p class="small text-muted mb-0 font-weight-bold">Peoples party</p>
                  </div>

                </div>
            </div>
            </div>
          </div>

     
          <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
            <div class="card-body p-lg-5">
              <h2 class="h3 mb-4">Income</h2>
              <div class="row col-12">
                <div class="col-6">

                <div class="media-body ml-2">
                  <h6 class="mb-0">Candidate Year</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Rs. 1000</p>
                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Spouse Year</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Rs. 25,00,000</p>
                </div>
              </div>
              <div class="col-6">
                <div class="media-body ml-2">
                  <h6 class="mb-0">Dependent-1</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Rs. 75,00,000</p>
                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Dependent-2</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Rs. 18,00,000</p>
                </div>
              </div>
              </div>
              <div class="row col-12">
                <div class="col-6">
                <div class="media-body ml-2">
                  <h6 class="mb-0">Total Income</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Rs. 18,00,000</p>
                </div>
              </div>
              </div>
            </div>
          </div>

          <!-- Video-->
          <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
            <div class="card-body p-lg-5">
              <h2 class="h3 mb-4">Asserts</h2>

              <div class="row col-12">
                <div class="col-6">

                <div class="media-body ml-2">
                  <h6 class="mb-0">Candidate </h6>
                  <p class="small text-muted mb-0 font-weight-bold"> ipsum dolor sit </p>
                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Spouse</h6>
                  <p class="small text-muted mb-0 font-weight-bold">sit amet</p>
                  <p class="small text-muted mb-0 font-weight-bold">Ipum dolor  amet</p>
                </div>
              </div>
              <div class="col-6">
                <div class="media-body ml-2">
                  <h6 class="mb-0">Dependent-1</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Lorem ipsum dolor amet</p>
                  <p class="small text-muted mb-0 font-weight-bold">  dolor sit amet</p>
                  <p class="small text-muted mb-0 font-weight-bold"> ipsum dolor sit amet</p>

                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Dependent-2</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Lorem ipsum dolor sit amet</p>
                  <p class="small text-muted mb-0 font-weight-bold">Ipsum sit amet</p>
                </div>
              </div>
              </div>
              <div class="row col-12">
                <div class="col-6">
                <div class="media-body ml-2">
                </div>
              </div>
              </div>
            </div>
          </div>

          <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
            <div class="card-body p-lg-5">
              <h2 class="h3 mb-4">Liabilities </h2>
              <div class="row col-12">
                <div class="col-6">

                <div class="media-body ml-2">
                  <h6 class="mb-0">Candidate Year</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Rs. 1000</p>
                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Spouse Year</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Rs. 25,00,000</p>
                </div>
              </div>
              <div class="col-6">
                <div class="media-body ml-2">
                  <h6 class="mb-0">Dependent-1</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Rs. 75,00,000</p>
                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Dependent-2</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Rs. 18,00,000</p>
                </div>
              </div>
              </div>
              <div class="row col-12">
                <div class="col-6">
                <div class="media-body ml-2">
                  <h6 class="mb-0">Total Income</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Rs. 18,00,000</p>
                </div>
              </div>
              </div>
            </div>
          </div>
          <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
            <div class="card-body p-lg-5">
              <h2 class="h3 mb-4">Pending Cases  </h2>
              <div class="row col-12">
                <div class="col-6">

                <div class="media-body ml-2">
                  <h6 class="mb-0">FIR Numbers</h6>
                  <p class="small text-muted mb-0 font-weight-bold">FIR-23123212</p>
                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Police station Names </h6>
                  <p class="small text-muted mb-0 font-weight-bold">Lorem ipsum dolor amet</p>
                </div>
              </div>
              <div class="col-6">
                <div class="media-body ml-2">
                  <h6 class="mb-0">Section Details </h6>
                  <p class="small text-muted mb-0 font-weight-bold">dolor ipsum  amet Lorem ipsum dolor amet</p>
                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Description </h6>
                  <p class="small text-muted mb-0 font-weight-bold">Rs. 18,00,000</p>
                </div>
                
              </div>
              </div>
              <div class="row col-12">
                <div class="col-6">
                  <div class="media-body ml-2">
                    <h6 class="mb-0">Section Details </h6>
                    <p class="small text-muted mb-0 font-weight-bold">dolor ipsum  amet Lorem ipsum dolor amet</p>
                  </div>
                  <div class="media-body ml-2">
                    <h6 class="mb-0">Case Number  </h6>
                    <p class="small text-muted mb-0 font-weight-bold">dolor ipsum  amet Lorem ipsum dolor amet</p>
                  </div>
                  <div class="media-body ml-2">
                    <h6 class="mb-0">Court Name </h6>
                    <p class="small text-muted mb-0 font-weight-bold">dolor ipsum  amet Lorem ipsum dolor amet</p>
                  </div>
              </div>
              <div class="col-6">
                <div class="media-body ml-2">
                  <h6 class="mb-0">Charges Handed </h6>
                  <p class="small text-muted mb-0 font-weight-bold">Yes/No</p>
                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Date charges Handed   </h6>
                  <p class="small text-muted mb-0 font-weight-bold">dolor ipsum  amet Lorem ipsum dolor amet</p>
                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Apeal Against Proccedings</h6>
                  <p class="small text-muted mb-0 font-weight-bold">dolor ipsum  amet Lorem ipsum dolor amet</p>
                </div>
            </div>

              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-4">
          <!-- Social widget-->
          <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
            <div class="card-body p-lg-5">
              <h2 class="h3 mb-4">Social Media</h2>
              <ul class="list-inline mb-0">
                <li class="list-inline-item"><a class="social-link facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a class="social-link twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a class="social-link vimeo" href="#"><i class="fab fa-vimeo"></i></a></li>
                <li class="list-inline-item"><a class="social-link instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item"><a class="social-link youtube" href="#"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Categories widget 
          <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
            <div class="card-body p-lg-5">
              <h2 class="h3 mb-4">Categories</h2>
              <ul class="list-inline mb-0">
                <li class="list-inline-item m-1"><a class="btn btn-light" href="#">Marketing</a></li>
                <li class="list-inline-item m-1"><a class="btn btn-light" href="#">CRM</a></li>
                <li class="list-inline-item m-1"><a class="btn btn-light" href="#">Sales</a></li>
                <li class="list-inline-item m-1"><a class="btn btn-light" href="#">Productivity</a></li>
              </ul>
            </div>
          </div>
           Tags widget
          <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
            <div class="card-body p-lg-5">
              <h2 class="h3 mb-4">Tags</h2>
              <ul class="list-inline mb-0">
                <li class="list-inline-item m-1"><a class="btn btn-light" href="#">Launch</a></li>
                <li class="list-inline-item m-1"><a class="btn btn-light" href="#">Planning</a></li>
                <li class="list-inline-item m-1"><a class="btn btn-light" href="#">Entrepreneur</a></li>
              </ul>
            </div>
          </div>

-->

        </div>
      </div>
    </div>
  </section>
   