
  <section class="py-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
          <!-- About-->
          <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
            <div class="card-body p-lg-5">
              <h2 class="h3 mb-4">Personal</h2>
              <div class="row col-12">
                <div class="col-4">
                    <img height="150px" width="auto" class="rounded-circle" src="{{_candidate.officialPhotoLink}}" alt="...">
                </div>
                <div class="col-8">
                  <div class="media-body ml-2">
                    <h6 class="mb-0">Name</h6>
                    <p class="small text-muted mb-0 font-weight-bold">{{_candidate.name}}</p>
                  </div>
                  <div class="media-body ml-2">
                    <h6 class="mb-0">Age</h6>
                    <p class="small text-muted mb-0 font-weight-bold">{{_candidate.age}}</p>
                  </div>
                  <div class="media-body ml-2">
                    <h6 class="mb-0">Sex</h6>
                    <p class="small text-muted mb-0 font-weight-bold">{{_candidate.sex}}</p>
                  </div>
                  <div class="media-body ml-2">
                    <h6 class="mb-0">Party</h6>
                    <p class="small text-muted mb-0 font-weight-bold">{{_candidate.party}}</p>
                  </div>
                  <div class="media-body ml-2">
                    <h6 class="mb-0">Email</h6>
                    <p class="small text-muted mb-0 font-weight-bold">{{_candidate.email}}</p>
                  </div>

                </div>
            </div>
            </div>
          </div>

     
          <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
            <div class="card-body p-lg-5">
              <h2 class="h3 mb-4">Income</h2>
              <div class="row col-12">
                <div class="col-6">

                <div class="media-body ml-2">
                  <h6 class="mb-0">Candidate Year</h6>
                  <p class="small text-muted mb-0 font-weight-bold" *ngIf="_candidate.latestTaxReturn.self.amount != ''">{{_candidate.latestTaxReturn.self.amount | currency:'INR' }}</p>
                  <p class="small text-muted mb-0 font-weight-bold" *ngIf="_candidate.latestTaxReturn.self.amount == ''">NA</p>
                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Spouse Year</h6>
                  <p class="small text-muted mb-0 font-weight-bold" *ngIf="_candidate.latestTaxReturn.spouse.amount != ''">{{_candidate.latestTaxReturn.self.amount | currency:'INR'}}</p>
                  <p class="small text-muted mb-0 font-weight-bold" *ngIf="_candidate.latestTaxReturn.spouse.amount == ''">NA</p>
                </div>
              </div>
              <div class="col-6">
                <div *ngFor="let dependent of _candidate.latestTaxReturn.dependents" class="media-body ml-2">
                  <h6 class="mb-0">{{dependent.relation}}</h6>
                  <p class="small text-muted mb-0 font-weight-bold">{{dependent.amount | currency : 'INR'}}</p>
                </div>
              </div>
              </div>
              <div class="row col-12">
                <div class="col-6">
                <div class="media-body ml-2">
                  <h6 class="mb-0">Total Income</h6>
                  <p class="small text-muted mb-0 font-weight-bold">{{_candidate.candidateTotalIncomeString | currency : 'INR'}}</p>
                </div>
              </div>
              </div>
            </div>
          </div>

          <!-- Video-->
          <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
            <div class="card-body p-lg-5">
              <h2 class="h3 mb-4">Assets</h2>
              <h5 class="h5 mb-6">Movable Assets</h5>
              <div class="row col-12">
                <div class="col-6">

                <div class="media-body ml-2">
                  <h6 class="mb-0">Candidate</h6>
                  <p class="small text-muted mb-0 font-weight-bold" *ngIf="_candidate.assets.movableSelf.amount != ''">{{_candidate.assets.movableSelf.amount | currency:'INR'}}</p>
                  <p class="small text-muted mb-0 font-weight-bold"  *ngIf="_candidate.assets.movableSelf.amount == ''">NA</p>
                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Spouse</h6>
                  <p class="small text-muted mb-0 font-weight-bold">sit amet</p>
                  <p class="small text-muted mb-0 font-weight-bold">Ipum dolor  amet</p>
                </div>
              </div>
              <div class="col-6">
                <div class="media-body ml-2">
                  <h6 class="mb-0">Dependent-1</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Lorem ipsum dolor amet</p>
                  <p class="small text-muted mb-0 font-weight-bold">  dolor sit amet</p>
                  <p class="small text-muted mb-0 font-weight-bold"> ipsum dolor sit amet</p>

                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Dependent-2</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Lorem ipsum dolor sit amet</p>
                  <p class="small text-muted mb-0 font-weight-bold">Ipsum sit amet</p>
                </div>
              </div>
              </div>
              <h5 class="h5 mb-6">Immovable Assets</h5>
              <div class="row col-12">
                <div class="col-6">

                <div class="media-body ml-2">
                  <h6 class="mb-0">Candidate </h6>
                  <p class="small text-muted mb-0 font-weight-bold"> ipsum dolor sit </p>
                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Spouse</h6>
                  <p class="small text-muted mb-0 font-weight-bold">sit amet</p>
                  <p class="small text-muted mb-0 font-weight-bold">Ipum dolor  amet</p>
                </div>
              </div>
              <div class="col-6">
                <div class="media-body ml-2">
                  <h6 class="mb-0">Dependent-1</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Lorem ipsum dolor amet</p>
                  <p class="small text-muted mb-0 font-weight-bold">  dolor sit amet</p>
                  <p class="small text-muted mb-0 font-weight-bold"> ipsum dolor sit amet</p>

                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Dependent-2</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Lorem ipsum dolor sit amet</p>
                  <p class="small text-muted mb-0 font-weight-bold">Ipsum sit amet</p>
                </div>
              </div>
              </div>
            </div>
          </div>

          <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
            <div class="card-body p-lg-5">
              <h2 class="h3 mb-4">Liabilities </h2>
              <div class="row col-12">
                <div class="col-6">

                <div class="media-body ml-2">
                  <h6 class="mb-0">Candidate Year</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Rs. 1000</p>
                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Spouse Year</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Rs. 25,00,000</p>
                </div>
              </div>
              <div class="col-6">
                <div class="media-body ml-2">
                  <h6 class="mb-0">Dependent-1</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Rs. 75,00,000</p>
                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Dependent-2</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Rs. 18,00,000</p>
                </div>
              </div>
              </div>
              <div class="row col-12">
                <div class="col-6">
                <div class="media-body ml-2">
                  <h6 class="mb-0">Total Income</h6>
                  <p class="small text-muted mb-0 font-weight-bold">Rs. 18,00,000</p>
                </div>
              </div>
              </div>
            </div>
          </div>
          <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
            <div class="card-body p-lg-5">
              <h2 class="h3 mb-4">Pending Cases  </h2>
              <div class="row col-12">
                <div class="col-6">

                <div class="media-body ml-2">
                  <h6 class="mb-0">FIR Numbers</h6>
                  <p class="small text-muted mb-0 font-weight-bold">FIR-23123212</p>
                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Police station Names </h6>
                  <p class="small text-muted mb-0 font-weight-bold">Lorem ipsum dolor amet</p>
                </div>
              </div>
              <div class="col-6">
                <div class="media-body ml-2">
                  <h6 class="mb-0">Section Details </h6>
                  <p class="small text-muted mb-0 font-weight-bold">dolor ipsum  amet Lorem ipsum dolor amet</p>
                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Description </h6>
                  <p class="small text-muted mb-0 font-weight-bold">Rs. 18,00,000</p>
                </div>
                
              </div>
              </div>
              <div class="row col-12">
                <div class="col-6">
                  <div class="media-body ml-2">
                    <h6 class="mb-0">Section Details </h6>
                    <p class="small text-muted mb-0 font-weight-bold">dolor ipsum  amet Lorem ipsum dolor amet</p>
                  </div>
                  <div class="media-body ml-2">
                    <h6 class="mb-0">Case Number  </h6>
                    <p class="small text-muted mb-0 font-weight-bold">dolor ipsum  amet Lorem ipsum dolor amet</p>
                  </div>
                  <div class="media-body ml-2">
                    <h6 class="mb-0">Court Name </h6>
                    <p class="small text-muted mb-0 font-weight-bold">dolor ipsum  amet Lorem ipsum dolor amet</p>
                  </div>
              </div>
              <div class="col-6">
                <div class="media-body ml-2">
                  <h6 class="mb-0">Charges Handed </h6>
                  <p class="small text-muted mb-0 font-weight-bold">Yes/No</p>
                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Date charges Handed   </h6>
                  <p class="small text-muted mb-0 font-weight-bold">dolor ipsum  amet Lorem ipsum dolor amet</p>
                </div>
                <div class="media-body ml-2">
                  <h6 class="mb-0">Apeal Against Proccedings</h6>
                  <p class="small text-muted mb-0 font-weight-bold">dolor ipsum  amet Lorem ipsum dolor amet</p>
                </div>
            </div>

              </div>
            </div>
          </div>

        </div>
       
      </div>
    </div>
  </section>
   