<div id="disclaimer" class="modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Welcome</h5>
            </div>
            <div class="modal-body">
                <p>Friends,</p>
                <p> Welcome to our s/Elect!
                </p>
                <p>
                    All the information shown here are taken from the Election Commision of India's website
                    <a href="http://affidavit.eci.gov.in/" target="blank">http://affidavit.eci.gov.in/</a> which is used
                    for displaying the candidate affidavits for general
                    public. If you want to know more details, Please click the candidate's page link available as part
                    of each candidate.
                </p>
                <p>
                    While we have taken every precaution to ensure that the data displayed here is accurate, errors can
                    occur. We, assume no responsibility or liability for any errors or omissions in the content of this
                    site.
                </p>
                <input type="checkbox" id="chkAgree" name="chkAgree" value="chkAgree" onclick="chkAgree()">
                <label for="chkAgree"> 	&nbsp; I understand and agree</label><br>
                <div class="modal-footer">
                    <button id="btnAgree" type="button" disabled (click)="clickAgree()" class="btn btn-secondary">Agree</button>
                </div>
            </div>
        </div>
    </div>