<div id="disclaimer" class="modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Welcome</h5>
            </div>
            <div class="modal-body">
                <p>Friends,</p>
                <p> Welcome to our application!
                </p>
                <p> All the information shown here are taken from the Election Commision of India's website
                    <a href="http://affidavit.eci.gov.in/" target="blank">http://affidavit.eci.gov.in/</a>for displaying
                    the candidate affidavits. We also provided the link to
                    the official page of each candidate as part of their profile. Please refer if you have any
                    questions, concerns or want to know more details. While we strive to give you accurate details, due
                    to human errors in typing and capturing the values, and other data processing errors, there may be
                    some information displayed incorrectly.
                </p>
                <p>If you notice any of them, please let us know the details of
                    incorrect information. Please send an email to <a href="mailto:goin3it@gmail.com"
                        target="blank">goin3it@gmail.com</a> with the constituency name,
                    candidate name and the description of what is incorrectly displayed with correct information. We
                    will fix it as early as possible.
                </p>
                <p>
                    We are in the process of adding candidates details. We do not have enough manpower to collect the
                    details of all the candidates. Please bear with the delays. Please come back after some time and we
                    may have added your constituencie's candidate details.</p>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="clickAgree()" class="btn btn-secondary">Agree</button>
            </div>
        </div>
    </div>
</div>