<section>
  <div class="container py-2">
    <div class="row">
      <span class="col-lg-3 col-md-3">
        <p><b>Election</b></p>
        <select (change)="onElectionSelect($event)">
          <option *ngFor="let election of _electionList" [value]="election.value">{{election.text}}</option>
        </select>
      </span>
      <span class="col-lg-3">
        <p><b>State</b></p>
        <select (change)="onStateSelect($event)">
          <option *ngFor="let state of _stateList" [value]="state.value">{{state.text}}</option>
        </select>
      </span>
      <span class="col-lg-3">
        <p><b>District</b></p>
        <select (change)="onDistrictSelect($event)">
          <option *ngFor="let district of _districtList" [value]="district.value">{{district.text}}</option>
        </select>
      </span>
      <span class="col-lg-3">
        <p><b>Constituency</b></p>
        <select (change)="onConstituencySelect($event)">
          <option *ngFor="let constituency of _constituencyList" [value]="constituency.value">{{constituency.text}}
          </option>
        </select>
      </span>
    </div>
  </div>
  <div class="row py-2">
    <!-- Filter-->
    <div *ngIf="_candidateList.length > 0" class="col-lg-3 order-1 order-lg-1">
      <div class="card border-0 shadow-sm p-2">
        <div class="card-body">
          <div>
          <a class="h3 pb-1 yt-toogle" data-toggle="collapse" data-target="#filters" aria-expanded="true"
            aria-controls="filters">
            Filters
            <i class="fa fa-caret-right fa-fw"></i>
            <i class="fa fa-caret-down fa-fw"></i>
          </a>
          <div id="filters" class="collapse show">
            <label *ngIf="_availableSex.length > 0">Sex</label>
            <ng-container *ngFor="let sex of _availableSex">
            <div *ngIf="sex == 'male'" class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" id="sexOption1" type="checkbox" [(ngModel)]="_filters.sex.male"
                [ngModelOptions]="{standalone:true}" (change)="applyFilter()">
              <label class="custom-control-label text-small text-muted" for="sexOption1">Male</label>
            </div>
            <div *ngIf="sex == 'female'" class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" id="sexOption2" type="checkbox" [(ngModel)]="_filters.sex.female"
                [ngModelOptions]="{standalone:true}" (change)="applyFilter()">
              <label class="custom-control-label text-small text-muted" for="sexOption2">Female</label>
            </div>
            <div *ngIf="sex == 'other'" class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" id="sexOption3" type="checkbox" [(ngModel)]="_filters.sex.other"
                [ngModelOptions]="{standalone:true}" (change)="applyFilter()">
              <label class="custom-control-label text-small text-muted" for="sexOption3">Other</label>
            </div>
          </ng-container>
            <label *ngIf="_availableTaxFilled.length > 0">Tax Filled</label>
            <ng-container *ngFor="let tax of _availableTaxFilled">
            <div *ngIf="tax == 'yes'" class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" id="taxFilledOption1" type="checkbox"
                [(ngModel)]="_filters.taxFilled.yes" [ngModelOptions]="{standalone:true}" (change)="applyFilter()">
              <label class="custom-control-label text-small text-muted" for="taxFilledOption1">Yes</label>
            </div>
            <div *ngIf="tax == 'no'" class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" id="taxFilledOption2" type="checkbox"
                [(ngModel)]="_filters.taxFilled.no" [ngModelOptions]="{standalone:true}" (change)="applyFilter()">
              <label class="custom-control-label text-small text-muted" for="taxFilledOption2">No</label>
            </div>
          </ng-container>
          <label *ngIf="_availableCase.length > 0">Case</label>
          <ng-container *ngFor="let case of _availableCase">
           
            <div *ngIf="case == 'pendingCase'" class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" id="caseOption1" type="checkbox"
                [(ngModel)]="_filters.case.pendingCase" [ngModelOptions]="{standalone:true}" (change)="applyFilter()">
              <label class="custom-control-label text-small text-muted" for="caseOption1">Pending Case</label>
            </div>
            <div *ngIf="case == 'convictedCase'" class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" id="caseOption2" type="checkbox"
                [(ngModel)]="_filters.case.convictedCase" [ngModelOptions]="{standalone:true}" (change)="applyFilter()">
              <label class="custom-control-label text-small text-muted" for="caseOption2">Convicted Case</label>
            </div>
          </ng-container>
          </div>
        </div>
        <div>
          <a class="h3 pb-1 yt-toogle" data-toggle="collapse" data-target="#sort" aria-expanded="true"
            aria-controls="sort">
            Sort By
            <i class="fa fa-caret-right fa-fw"></i>
            <i class="fa fa-caret-down fa-fw"></i>
          </a>
          <div id="sort" class="collpase show">
            <ul class="list-inline mb-0">
              <li class="list-inline-item my-1 my-lg-0">
                <select (change)="onSortOrder($event)" name="sort" data-style="btn btn-light shadow-xs bg-white border" data-title="Sort By"
                  data-width="180">
                  <option value="ascending">Ascending</option>
                  <option value="descending">Descending</option>
                </select>
              </li>
              <li class="list-inline-item my-1 my-lg-0">
                <select (change)="onSortColumn($event)" name="type" data-style="btn btn-light shadow-xs bg-white border" data-width="180">
                  <option value="age">Age</option>
                  <option value="candidateTotalIncome">Total Income</option>
                  <option value="candidateTotalWealth">Total Wealth</option>
                </select>
              </li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- Listing-->
    <div class="col-lg-9 mb-5 mb-lg-0 order-2 order-lg-2">
      <!-- Listing items-->
      <div class="row mb-4" *ngIf="_filterCandidateList.length > 0">
        <div *ngFor="let candidate of _filterCandidateList" class="col-lg-6 mb-4">
          <div class="card shadow-sm border-0 reset-anchor d-block hover-transition">
            <div class="row col-12">

              <div class=" col-6">
                <div id="imagePreview" class="text-center">
                  <img height="150px" width="auto" class="rounded-circle" src="{{candidate.officialPhotoLink}}"
                    alt="...">
                  <div class="no-gutter row col-12 justify-content-center">
                    <a href="{{candidate.officialProfileLink}}" target="_blank">Offical link</a>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="media-body ml-0">
                  <h6 class="mb-0">Name</h6>
                  <p class="text-capitalize text-muted text-small mb-0">{{candidate.name | titlecase}}</p>
                </div>
                <div class="media-body ml-0">
                  <h6 class="mb-0">Age</h6>
                  <p class="text-muted text-small mb-0">{{candidate.age}}</p>
                </div>
                <div class="media-body ml-0">
                  <h6 class="mb-0">Party</h6>
                  <p class="text-muted text-small mb-0">{{candidate.party}}</p>
                </div>
                <div class="media-body ml-0">
                  <h6 class="mb-0">Education</h6>
                  <p class="text-muted text-small mb-0">{{candidate.highestEducationLevel | titlecase}}</p>
                </div>
                <div class="media-body ml-0">
                  <h6 class="mb-0">Profession</h6>
                  <p class="text-muted text-small mb-0">{{candidate.selfProfession | titlecase}}</p>
                </div>
              </div>


              <div class="row col-12">
                <div class="col-6">
                  <h6 class="mb-0">Total Wealth</h6>
                  <p class="text-muted text-small mb-0">{{candidate.candidateTotalWealth | currency:'INR'}}</p>
                </div>
                <div class="col-6">
                  <h6 class="mb-0">Income</h6>
                  <p class="text-muted text-small mb-0">{{candidate.candidateTotalIncome | currency:'INR'}}</p>
                </div>
                <div class="col-6">
                  <h6 class="mb-0">Pending Case</h6>
                  <p class="text-muted text-small mb-0" *ngIf="!candidate.pendingCase">No</p>
                  <p class="text-muted text-small mb-0" *ngIf="candidate.pendingCase">Yes</p>
                </div>
                <div class="col-6">
                  <h6 class="mb-0">Convicted Case</h6>
                  <p class="text-muted text-small mb-0" *ngIf="!candidate.convictedCase">No</p>
                  <p class="text-muted text-small mb-0" *ngIf="candidate.convictedCase">Yes</p>
                </div>
              </div>

              <div class="row col-12 d-flex justify-content-center" style="padding-bottom: 2%;" >
                <a class="btn-primary" routerLink='detail/{{_selectedConstituency}}/{{candidate.candidateId}}' target="blank">View More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4" *ngIf="_filterCandidateList.length == 0">
          No Candidate Details Available
        </div>
        
      </div>
    </div>
  </div>
</section>
<app-disclaimer>

</app-disclaimer>